*
{
	font-family: monospace;
	text-align:center;
	background-color: #eff6f3;
}

#box
{
	
	border-color: #9f8551;	
	border-width: 15px;
    border-style: double;
	margin-right:40px;
	margin-left:40px;
	margin-top:140px;
}
#box2
{
	border-color: red;
	margin-top:100px;
	margin-right:40px;
	margin-left:40px;
	margin-top:100px;
	margin-bottom:40px;
}
#box3
{
	border-color: red;
	margin-top:100px;
	margin-right:40px;
	margin-left:40px;
	margin-top:40px;
	margin-bottom:40px;
}
ul li
{
	list-style:none;

}

ul li a, a
{
	text-decoration: none;

}
ul li a:hover
{
	color: purple
}
